<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
<ul class="menu">
<li class="menu__entry"><a href="{{ '/cv' | prepend: site.baseurl }}">CV/Resume</a></li>
<li class="menu__entry"><a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a></li>
<li class="menu__entry"><a href="{{ '/teaching' | prepend: site.baseurl }}">Teaching</a></li>
<li class="menu__entry"><a href="{{ '/research' | prepend: site.baseurl }}">Projects</a></li>
<li class="menu__entry"><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
</ul>
</div>

</header>





